# Ignore node_modules in both api and ui directories
api/node_modules/
ui/node_modules/
package-lock.json

# dotenv environment variables file
.env
borrador.ts

# IDEs and editors
.idea/
.vscode/
*.project
*.settings/
*.launch
.vscode/*
.history/*

# Miscellaneous
/.angular
ui/.angular/cache