<div class="container">
  <h2>Team List</h2>
  <div class="input-group">
    <label for="leagueCode">League Code:</label>
    <input class="input" id="leagueCode" [(ngModel)]="leagueCode" placeholder="Enter League Code">
    <button class="button" (click)="loadTeams()">Load Teams</button>
  </div>

  <div class="input-group">
    <label for="filter">Filter Teams:</label>
    <input class="input" id="filter" [(ngModel)]="filter" placeholder="Filter Teams" (input)="filterTeams()">
  </div>

  <ul class="team-list">
    <li *ngFor="let team of filteredTeams" class="team-item">
      <a [routerLink]="['/teams', team.id]" class="team-link">{{ team.name }}</a>
    </li>
  </ul>
</div>
